@import "variables";

$base-font-size: 16px;
$base-line-height: 1.6;

body {
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, sans-serif;
  margin: 0;
}

h2 {
  margin-bottom: 20px;
  margin-top: 20px;
  color: var(--primary-color);
}

$primary-color: #3498db;
$secondary-color: #f39c12;

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
